
body{
    background-color: rgb(9, 100, 185);
}

.button-div{
    display: flex;
    height: 15em;
    justify-content: center;
}

.div-button{
    width: 200px;
    display: flex;
    align-self: flex-end;
}

#button{
    height: 100px;
    width: 350px;
    border-radius: 15%;
    
    
}

