body {
  background-color: #b2bebf;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

.main-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
}

.title {
  background-color: #3b3936;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

#form-div {
  width: 100vw;
  height: 80vh;
}

.form {
  height: 700px;
  width: 400px;
  margin: 0 auto;
}

.input-div {
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.input-div input {
  width: 300px;
  height: 40px;
  margin: 20px;
  border: none;
  border-bottom: solid 1px black;
  border-radius: 6px;
  text-align: center;
}

button {
  height: 45px;
  width: 120px;
  border-radius: 6px;
  border: solid 1px black;
  cursor: pointer;
  color: #fff;
  background-color: #3b3936;
  font-size: 16px;
  margin-top: 20px;
}

footer {
  justify-content: center;
  align-items: center;
  background-color: #3b3936;
  width: 100%;
  height: 70px;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

span {
  color: #aabfaa;
  font-size: 16px;
}
